*{
    margin:5px;
    padding:0;
    box-sizing: border-box;
    font-family: "Arvo", cursive;
}

body{
    background-color:darkblue ;
    color:white;
    text-shadow: 3px 0 #da0463;
    width:100vw;
    height:100vh;
   
}

#drum-kit{
    text-align: center;
    font-size:5rem;
    font-family: sans-serif;
}

.set{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:30px;
    width:100vw;
    height:50vh;
}

.drum{
    width: 150px;
    height:150px;
    line-height: 2;
    color:black;
    text-align:center;
    font-size: 3rem;
    margin:10px;
    background-color: white;
    font-weight: bold;
    border:10px solid #404b69;
    border-radius:5px;
    padding:10px;
}

footer{
    text-align:center;
    font-size:2rem;
}

.q{
    background-image: url("../Assets_Drum/tom1.png");
    background-size: cover;
}
.w{
    background-image: url("../Assets_Drum/tom2.png");
    background-size: cover;
}
.e{
    background-image: url("../Assets_Drum/tom3.png");
    background-size: cover;
}
.r{
    background-image: url("../Assets_Drum/tom4.png");
    background-size: cover;
}
.i{
    background-image: url("../Assets_Drum/snare.png");
    background-size: cover;
}
.o{
    background-image: url("../Assets_Drum/crash.png");
    background-size: cover;
}
.p{
    background-image: url("../Assets_Drum/kick.png");
    background-size: cover;
}

.pressed{
    box-shadow: 0 3px 4px 0 #DBEDF3;
     opacity: 0.5;
}





